*{
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    min-width: 1200px;
    width:100%;

}
.wrapper{
    width:1160px;
    margin: 0 auto;
}

.title_main{
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
}

.title_main::after{
    content: "";
    display: block;
    width:75px;
    height: 5px;
    margin: 35px auto 70px;
    border-top: 1px solid #18CFAB;
    border-bottom: 1px solid #18CFAB;
    transform: skew(70deg);
}